thesis_env/
.env
data/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pdf
context/
scratch/
notebooks/
outputs/
images/
backup/
log_files/
thesis_files/
src/evaluation/
src/ingestion/
src/run.bat
*.qmd
*.tex
*.html
*.lnk
*.csv